<div class="top_bar">
	<div class="top_search">
		<form method="get" action="/busca/">
			<div class="search_text"><a href="#">Buscar produto</a></div>
			<input type="text" class="search_input" name="b" />
			<button type="submit" class="btn" style="margin-top: 8px;margin-left: 2px;">Buscar</button>
		</form>
	</div>
</div>
<div id="header">
	<div id="logo"><a href="#"><img src="{{ site_url() }}/assets/images/logo.png" alt="" border="0" width="237" height="140" /></a></div>
	<div class="oferte_content">
		<div class="top_divider"><img src="{{ site_url() }}/assets/images/header_divider.png" alt="" width="1" height="164" /></div>
		<div class="oferta">
			<div class="oferta_content">
				<div class="oferta_details">
					propaganda aqui
				</div>
			</div>
		</div>
		<div class="top_divider"><img src="{{ site_url() }}/assets/images/header_divider.png" alt="" alt="" width="1" height="164" /></div>
	</div><!-- end of oferte_content -->
</div>
