{% extends 'layout.html' %}

{% block site_content %}

<form action="/cadastro/cadastrar" method="post">

    <div class="center_title_bar">Cadastro de Usuários</div>

    <div class="prod_box_big">

        <div class="top_prod_box_big"></div>

        <div class="center_prod_box_big">
            <div class="contact_form">

                <div class="form_row">
                    <label class="contact"><strong>Nome</strong></label>
                    <input type="text" class="contact_input" name="nome" placeholder="Nome" />
                    {{ errorField('nome') | raw }}
                    <br /><br />
                </div>

                <div class="form_row">
                    <label class="contact"><strong>Sobrenome</strong></label>
                    <input type="text" class="contact_input" name="sobrenome" placeholder="Sobrenome" />
                    {{ errorField('sobrenome') | raw }}
                    <br /><br />
                </div>

                <div class="form_row">
                    <label class="contact"><strong>E-mail</strong></label>
                    <input type="text" class="contact_input" name="email" placeholder="E-mail"" />
                    {{ errorField('email') | raw }}
                    <br /><br />
                </div>

                <div class="form_row">
                    <label class="contact"><strong>DDD</strong></label>
                    <input type="text" class="contact_input" name="ddd" placeholder="DDD" />
                    {{ errorField('ddd') | raw }}
                    <br /><br />
                </div>

                <div class="form_row">
                    <label class="contact"><strong>Tefefone</strong></label>
                    <input type="text" class="contact_input" name="telefone" placeholder="Telefone" />
                    {{ errorField('telefone') | raw }}
                    <br /><br />
                </div>

                <div class="form_row">
                    <label class="contact"><strong>Endereço</strong></label>
                    <input type="text" class="contact_input" name="endereco" placeholder="Endereço" />
                    {{ errorField('endereco') | raw }}
                    <br /><br />
                </div>

                <div class="form_row">
                    <label class="contact"><strong>Bairro</strong></label>
                    <input type="text" class="contact_input" name="bairro" placeholder="Bairro" />
                    {{ errorField('bairro') | raw }}
                    <br /><br />
                </div>

                <div class="form_row">
                    <label class="contact"><strong>Cidade</strong></label>
                    <input type="text" class="contact_input" name="cidade" placeholder="Cidade" />
                    {{ errorField('cidade') | raw }}
                    <br /><br />
                </div>

                <div class="form_row">
                    <label class="contact"><strong>Estado</strong></label>
                    <input type="text" class="contact_input" name="estado" placeholder="Estado" />
                    {{ errorField('estado') | raw }}
                    <br /><br />
                </div>

                <div class="form_row">
                    <label class="contact"><strong>CEP</strong></label>
                    <input type="text" class="contact_input" name="cep" placeholder="CEP" />
                    {{ errorField('cep') | raw }}
                    <br /><br />
                </div>

                <div><button type="submit" class="mini ui green button" style="float: left;">Cadastrar</button></div>

            </div>
        </div>

        <div class="bottom_prod_box_big"></div>

    </div>

</form>

{% endblock %}
